/************************************************** 404 ERROR PAGE ***************************************************/

body { background-color: var(--thebad-black); }

/************************************** 404 ERROR PAGE HEADER MENU ALTERATIONS ***************************************/

.header_topbar                  { background-color: var(--thebad-red);                                       }
.header_topmenu                 { background-color: var(--thebad-red);                                       }
.header_topmenu_title           { background-color: var(--thebad-red); color: var(--thebad-black);           }
.header_topmenu_title:hover     { background-color: var(--thebad-black); color: var(--thebad-red);           }
.header_topmenu_smug:hover      { background-color: var(--thebad-red);                                       }
.header_topmenu_title_selected  { color: var(--thebad-red); background-color: var(--thebad-black);           }