# Don't commit the admin password
.htpasswd

# Don't commit the admin htaccess
admin/.htaccess

# Don't commit assets
img/comics/*
!img/comics/index.php
img/banners/comics/types/*
!img/banners/comics/types/index.php
img/banners/comics/tags/*
!img/banners/comics/tags/index.php
img/banners/social/*
!img/banners/social/index.php

# Don't commit user searches
admin/user_searches.txt

# Local config should not be committed
conf/main.conf.php