# Don't commit the admin password
.htpasswd

# Don't commit the admin htaccess
admin/.htaccess

# Don't commit comics
img/comics/*
!img/comics/index.php

# Don't commit the random comic generator
img/generator/*
!img/generator/index.php

# Don't commit user searches
admin/user_searches.txt

# Don't commit the sitemap
sitemap.xml

# Local config should not be committed
conf/main.conf.php