ErrorDocument 404 https://thebad.website/404
Options -Indexes

# Enforce HTTPS
RewriteEngine On
RewriteCond %{HTTP_HOST} ^(www\.)?thebad\.website$ [NC]
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]

# Comics
RewriteRule ^comic/(.*)$ pages/comic.php?slug=$1 [QSA,NC]

# Pages
RewriteRule ^about/faq$ pages/faq.php [QSA,NC]
RewriteRule ^about/copyright$ pages/intellectual_property.php [QSA,NC]
RewriteRule ^about/legal$ pages/legal.php [QSA,NC]
RewriteRule ^about/socials$ pages/socials.php [QSA,NC]
RewriteRule ^category/(.*)$ pages/comics_category.php?type=$1 [QSA,NC]
RewriteRule ^comics/all$ pages/comics_list.php [QSA,NC]
RewriteRule ^comics/categories$ pages/comics_categories.php [QSA,NC]
RewriteRule ^comics/list$ pages/comics.php [QSA,NC]
RewriteRule ^comics/random$ pages/comics_random.php [QSA,NC]
RewriteRule ^comics/tags$ pages/comics_tags.php [QSA,NC]
RewriteRule ^tag/(.*)$ pages/comics_tag.php?theme=$1 [QSA,NC]