ErrorDocument 404 https://thebad.website/404
Options -Indexes

# Enforce HTTPS
RewriteEngine On
RewriteCond %{HTTP_HOST} ^(www\.)?thebad\.website$ [NC]
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]